<div>
  <form (ngSubmit)="addAccess(theForm)" #theForm="ngForm">
   <div class="theDiv">
      <div class="form-group label-input">
          <label for="name">Name: </label>
          <input
          placeholder=" Your name"
            type="text"
            name="name"
            [(ngModel)]="name"
            #theName="ngModel"
            required
          />
        </div>
        <div class="form-group label-input">
          <label for="name">Message: </label>
          <input
          placeholder=" Your message"
            type="text"
            name="message"
            [(ngModel)]="message"
            #theMessage="ngModel"
            required
          />
        </div>
    
    
  <p class="invalido">{{ errorMessage }}</p>
  <p class="registrado" *ngIf="theForm.submitted && theForm.valid ">{{ registredMessage }}</p>
      <button class="btn btn-danger " type="submit">Add your log!</button>
   </div>

  </form>

</div>
